
.app {

    padding-bottom: 100px;
    box-shadow: 1px 1px 10px 4px rgb(9, 6, 6);


    .carousel {
        display: flex;
        justify-content: center;
        background-position: center;
    }


    &-navig {
        display: flex;
        justify-content: space-around;
        font-size: 40px;
        list-style: none;


        &-link {
            font-weight: bold;
            text-decoration: none;
            text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;

            &:hover {
                font-size: 42px;
                text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
                transition: 0.2s;
            }

            &:visited {
                text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
                color: #cbdeef;

            }
        }
    }



}
